{% extends '../layout.html' %}
{% block head %}
    <title>{{title}}</title> 
      <meta name="Description" content="Išmaniojo pamišelio medija ir kontaktai">
{% endblock %}
{% block body %}
    <div class="col-md-3">
    <img src="https://findicons.com/files/icons/1676/primo/128/telephone_black.png" height="30" width="30" alt="telefoniukas"/>
    <p><h4>Prekių specialistas norintiems asmeniškai pritaikyto kanistro: <i><br> + 370 61999999 </i></h4></p>
    </div>
    <div class="col-md-3">
    <img src="https://findicons.com/files/icons/1676/primo/128/telephone_black.png" height="30" width="30" alt="telefoniukas"/>
    <p><h4>Vedėjas, bendradarbiavimo klausimais <i><br> + 370 61999999 </i></h4></p>
    </div>
        <div class="col-md-3">
    <img src="https://cdn.iconverticons.com/files/png/24b1459473ee4973_256x256.png" height="30" width="30" alt="telefoniukas"/>
    <p><h4>Užsakymai per facebook! <i><br> <a href="https://www.facebook.com/Fuel-Your-Style-399844980747197/">Mūsų facebook</a> </i></h4></p>
    </div>
            <div class="col-md-3">
    <img src="https://seeklogo.com/images/I/instagram-logo-1494D6FE63-seeklogo.com.png" height="30" width="30" alt="telefoniukas"/>
    <p><h4>Mūsų instagram puslapis! Čia keliami naujausi mūsų darbai! <i><br> <a href="https://www.instagram.com">Mūsų instagram</a> </i></h4></p>
    </div>
{% endblock %}
